
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="label"></div>
<div class="py-5 container__custom">
    <div class="row" id="renderSearch">
        <div class="main-content">
            <div class="content-page">
                <div data-aos="fade-up" data-aos-duration="1000">
                    <h3 class="text-center font-weight-bold">TỔNG QUAN VỀ Cửa Hàng</h3>
                    <p class="text-center pb-5">
                        Cá cảnh MD (My Dream) có địa chỉ nằm ngay trung tâm Sài Gòn. Chúng tôi rất hân hạnh được đưa đến không gian của bạn một thế giới thu nhỏ của cá, của cây cỏ, của nước và sự thư giãn thoải mái sau những giờ làm việc căng thẳng.

                        Tại đây bạn có thể tìm thấy những chiếc bể xinh xắn bày trên bàn làm việc, bàn ăn, bàn uống nước hay những bộ bể lớn phù hợp với không gian phòng khách sang trọng, văn phòng lịch sự.

                        Những chiếc bể mini cũng sẽ giải quyết vấn đề diện tích với những căn hộ nhỏ. Bạn sẽ được tư vấn về giá cả để có được những bộ bể ưng ý nhất.

                        Và hãy thả mình ngắm những chú cá tung tăng bơi lội, cho chúng ăn hay hướng dẫn nhóc nhà bạn chăm sóc chúng, chúng tôi tin rằng đó là khoảng thời gian để bạn giũ bỏ những lo toan về công việc.
                    </p>
                </div>
                <div class="row bg-white">
                    <div class="col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-right" data-aos-duration="500">
                        <div class="text-center text-justify">
                            <p>Đến cửa hàng Cá Cảnh MD, bạn sẽ được tận mắt chiêm ngưỡng hàng chục thậm chí hàng trăm loại cá lớn nhỏ vô cùng bắt mắt, ngoài ra là rất nhiều chủng loại thuỷ sinh đa dạng được nuôi trồng ngay chính trang trại riêng của cửa hàng. Tại đây bạn còn được hổ trợ tư vấn đầy đủ về cách thức để thiết kế cũng như duy trì một hồ cá đa dạng, hài hoà mà lại còn phù hợp với không gian nơi bạn đang sống. Bật mí nhé "My Dream" có đến 3 chi nhánh tại TPHCM và luôn đảm bảo số lượng sản phẩm cung cấp cho khách hàng đầy đủ nhất.</p>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-left" data-aos-duration="500">
                        <div class="bg-image">
                            <div class="sub-content">
                                <div class="sub-content-item">
                                    <p><strong>5.000.000</strong> Cá Cảnh / năm</p>
                                    <p><strong>1.200.000</strong> Thức Ăn / năm</p>
                                    <p><strong>300.000</strong> Thuốc / năm</p>
                                    <p><strong>1.500.000</strong> Phụ kiện/ năm</p>
                                    <p><strong>1.500.000</strong> Các sản phẩm khác / năm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 70px 0" data-aos="fade-up" data-aos-duration="800">
                    <h3 class="text-center font-weight-bold">HỆ THỐNG CỬA HÀNG</h3>
                    <p class="text-center">Cửa hàng cá cảnh MD có nhiều chi nhánh, thuậ tiện cho mọi người tham quan và thưởng thức cá cảnh </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-item">
                                <img src="/Images/hinh1.jpg" class="d-block w-100" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img-item">
                                <img class="d-block w-100" src="/Images/hinh2.jpg" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img-item">
                                <img class="d-block w-100" src="/Images/hinh3.jpg" />
                            </div>
                        </div>
                    </div>
                    <p class="text-center mt-5">Sections 1.10.32 and 1.10.33 from “de Finibus Bonorum et Malorum” by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                </div>
            </div>
        </div>
    </div>
</div>



